.hero-feat-image {
  height: 6em;
  width: 4.8em;
  position: relative;
}

.hero-card {
  display: flex;
  flex-direction: row;
  height: auto;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.hero-card-text {
  padding: 1%;
  font-size: 0.85em;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .hero-card-text {
    padding: 5% 0%;
  }
  .hero-feat-image {
    height: 20em;
    width: 15em;
    position: relative;
  }
  .hero-card {
    display: flex;
    flex-direction: column;
    height: auto;
    color: #fff;
    background-color: #000;
    text-align: center;
  }
}
