/* Products section */
.cart {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: url(/img/ingredient-bg-blue.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1080px) {
}
.cart-article {
  padding: 2%;
  border: #c1283f solid 0.2em;
  background-color: #182129;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  word-wrap: break-word;
}
.cart-subtitle {
  text-transform: uppercase;
  color: #fff;
  word-wrap: break-word;
}

.cart-grid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 2em;
}

.cart-grid-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.cart-image {
  position: relative;
  height: 100%;
  width: 100%;
}

.cart-details-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartButtonGroup {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cartItemButton {
  border-radius: 50%;
  margin: 3% 1%;
  width: 2.7em;
  height: 2.7em;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItemButton:hover {
  background: #ffc500;
  transition: 0.2s ease-out;
  color: #000;
  text-decoration: none;
}

.cartItemButton > * {
  height: 2em;
  width: 2em;
}

/*DL, DT, DD TAGS LIST DATA*/
.cart-article > dl {
  margin-bottom: 50px;
}

.cart-article > dl > dt {
  color: #fff;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
  width: 100px;
}

.cart-article > dl > dd {
  margin: 2px 0;
  padding: 5px 0;
}

.cartSeparator {
  margin: 10px 0;
  color: white;
  background-color: white;
  border: none;
  height: 1px;
  width: 100%;
}

.cartGridCheckout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.cartCheckoutItem {
  font-size: 2em;
}

h3.cartCheckoutItem {
  text-align: right;
}

.cartButton {
  font-size: 1.2rem;
  padding: 1vw 4vw;
  border: none;
  background: #e31837;
  color: #fff;
  transition: 0.2s ease-out;
  white-space: nowrap;
}

.cartButton:hover {
  background: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
