.footer {
  font-size: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  flex-wrap: wrap;
  background-color: #182129;
}

.footer-img {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
}

.footer-title {
  text-align: center;
}

.footer-locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-locations-legend {
  width: 100%;
  text-transform: uppercase;
}

.footer-locations-schedule {
  text-align: center;
}

.footer-subtitle {
  color: #a52f43;
}
.footer-locations-schedule {
  font-size: 1rem;
}

.footer-locations-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.footer-locations-grid-item {
  font-size: 1rem;
}

@media only screen and (min-width: 760px) {
  .footer {
    flex-wrap: nowrap;
    height: 70vh;
  }
  .footer-locations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (min-width: 1248px) {
  .footer-img {
    display: block;
  }
}
