:root {
  /* Z-index hierarchy */
  --navbar-z-index: 1;
  --sidebar-z-index: 2;
  --content-z-index: 0;
  --always-top-z-index: 999;

  --phone-size: 350px;
  --tablet-size: 768px;
  --desktop-size: 1024px;

  --bgApp: #182129;
  --text-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Kanit, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bgApp);
  color: var(--text-color);
  top: -10vh;
}

a {
  color: inherit;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-main {
  z-index: var(--content-z-index);
  background-color: var(--bgApp);
  width: 100%;

  /* Shifts the document up, so that the navbar stays over the app-main div */
  margin-top: -10vh;
}
