.hero-container {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.15)
    ),
    url(/img/pizza-hero_1920.jpg);
  background-origin: padding-box, content-box;
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top left;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero-article-left {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content-left {
  margin: 10vh 0;
  padding: 5vh 5vw;
  text-align: center;
  color: #fff;
  width: 60%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #c1283f 0.2em 0.2em;
  background-color: #182129;
}
/* .hero-article-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content-right {
  margin: 10vh 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.hero-feat-product-legend {
  font-size: 0.9rem;
}
.hero-feat-product-name {
  font-size: 0.8rem;
}
.hero-title {
  font-family: Courgette, "Times New Roman", Times, serif;
  margin-bottom: 1rem;
  letter-spacing: 3px;
  font-size: 1.4rem;
}

.hero-title > i {
  font-family: Courgette;
}

.hero-button {
  font-size: 1.2rem;
  padding: 1vw 4vw;
  border: none;
  background: #e31837;
  color: #fff;
  transition: 0.2s ease-out;
  white-space: nowrap;
}

.hero-button:hover {
  background: #ffc500;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.hero-feat-product-price {
  color: red;
  font-size: 1rem;
}
.hero-feat-product-price:hover {
  transition: 0.2s ease-out;
  color: #ffc500;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .hero-feat-product-name {
    font-size: 1.3rem;
  }
  .hero-feat-product-legend {
    font-size: 1.5rem;
  }
  .hero-content-left {
    margin: 10vh 0;
  }
  .hero-content-left {
    margin: 20vh 0;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-feat-product-price {
    color: red;
    font-size: 1.5rem;
  }
}
