.menuContainer {
  padding: 10vh;
  background-image: url(/img/ingredient-bg-blue.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
  height: 100%;
  overflow: hidden;
  place-items: center;
}

.menuArticle {
  padding: 2%;
  border: #c1283f solid 0.2em;
  background-color: #182129;
  height: 80vh;
  overflow: hidden;
}

.menuSlider {
  display: flex;
  flex-wrap: wrap;
}

.menuTitle {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  word-wrap: break-word;
}

.menu-info {
  text-align: center;
  padding: 5%;
  color: white;
  background-color: #182129;
  font-size: 1rem;
  box-shadow: #a52f43 1vh 0.2em;
}

.menu-title {
  font-size: 1em;
  font-weight: 700;
}

.menu-item {
  font-size: 0.8em;
  width: 100%;
}

.menu-item > * {
  margin: 0 1%;
}

.menu-size > svg {
  margin: 0 1%;
  cursor: pointer;
}

@media only screen and (min-width: 760px) and (min-height: 350px) {
  .menu-info {
    margin: 20% 20%;

    font-size: 1rem;
  }
  .menu-layout {
    flex-direction: row;
  }

  .menu-info {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1080px) and (min-height: 600px) {
  .menu-layout {
    flex-direction: row;
  }

  .menu-info {
    font-size: 2rem;
  }
}
