.navbar-container {
  top: 0;
  position: sticky;
  z-index: var(--navbar-z-index);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  min-height: 50px;
  /* background: #12171e; */
  background: transparent;
  color: #fff;
}

.subnavright {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}

.subnav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.subnavleft {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
}

.element {
  font-size: 1.5rem;
  margin: 0 0.5em;
  text-align: center;
}

.phone {
  font-size: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagename {
  font-family: "Dancing Script", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

.cart {
  position: relative;
}

.cartQty {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #12171e;
  transition: 0.5s ease-in-out;
}

@media only screen and (min-width: 400px) {
  .phone {
    font-size: 1rem;
  }
  .pagename {
    font-size: 3.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .phone {
    font-size: 2rem;
  }
  .pagename {
    font-size: 3.25rem;
  }
}
