/* Products section */
.offers {
  padding: 5%;
  background-image: url(/img/ingredient-bg-blue.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media only screen and (min-width: 1080px) {
  .offers {
    padding-top: 10%;
    background-size: contain;
    height: 100vh;
  }
}
.offersArticle {
  margin: 5%;
  padding: 2%;
  border: #c1283f solid 0.2em;
  background-color: #182129;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offersTitle {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  word-wrap: break-word;
}
.offers-subtitle {
  text-transform: uppercase;
  color: #fff;
  word-wrap: break-word;
}

.offers-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4em;
  padding: 10px;
  margin-bottom: 2em;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .offers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1080px) {
  .offers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-offer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers-offer-price {
  color: red;
  font-size: 2rem;
}
