.orderContainer {
  height: 100%;
  background-image: url(/img/ingredient-bg-blue.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
  padding: 10px;
  padding-top: 10vh;
}

.orderArticle {
  margin: 5%;
  padding: 2%;
  border: #c1283f solid 0.2em;
  background-color: #182129;
}

.orderArticleRow {
  padding: 1em;
  font-size: 1.1em;
}

.orderStatusTable {
  width: 100%;
  text-align: left;
}

.orderArticleRowTitle {
  font-weight: 700;
}

.orderDeliverStatus {
  display: flex;
  justify-content: space-between;
}

.inProgress {
  color: yellow;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.completed {
  color: green;
}

.pending {
  color: white;
  opacity: 0.4;
}

.orderDeliverStatus,
.orderStatusTable > tr {
  display: flex;
  flex-direction: column;
}

.orderStatusTable > tr > th {
  display: none;
}

.orderId::before {
  content: "Order ID: ";
  font-weight: 700;
}
.customer::before {
  content: "Customer: ";
  font-weight: 700;
}
.address::before {
  content: "Address: ";
  font-weight: 700;
}
.total::before {
  content: "Total: ";
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .orderDeliverStatus {
    flex-direction: row;
  }

  .orderStatusTable > tr {
    display: table-row;
  }

  .orderStatusTable > tr > th {
    display: table-cell;
  }

  .orderId::before {
    content: "";
  }
  .customer::before {
    content: "";
  }
  .address::before {
    content: "";
  }
  .total::before {
    content: "";
  }

  .orderArticleRow {
    padding: 1em;
    font-size: 1em;
  }
}

@media screen and (min-width: 920px) {
  .orderArticleRow {
    padding: 1em;
    font-size: 1.5em;
  }
}
