/* Products section */
.productContainer {
  background-image: url(/img/ingredient-bg-blue.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.productWrapper {
  margin: 5%;
  padding: 2%;
  border: #c1283f solid 0.2em;
  background-color: #182129;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productRight,
.productLeft {
  flex: 1;
  height: 70vh;
  display: flex;
  align-items: flex-start;
}

.productImage {
  position: relative;
  height: 70vh;
  width: 70vh;
}

.productTitle {
  font-size: 2em;
  font-weight: 700;
}
.productSubtitle {
  font-size: 2em;
  font-weight: 700;
}
.productNormalText {
  font-size: 1.2em;
}

.productInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.productDescription {
  text-align: justify;
}

.productExtrasList {
  font-size: 1rem;
}

.productAdd {
  display: flex;
}

.productQuantityInput {
  text-align: center;
  width: 4em;
}

.productAddCartButton {
  width: 10em;
  color: white;
  background-color: red;
  cursor: pointer;
}

.productQuantity,
.productAddCartButton {
  height: 2em;
  border: none;
}

.productExtraItem,
.productSizeItem {
  margin: 0 1%;
  cursor: pointer;
}

.productSizesList,
.productExtrasList {
  width: 100%;
}

@media only screen and (min-width: 760px) and (min-height: 350px) {
  .productContainer {
    height: 100vh;
  }
}

@media only screen and (min-width: 1080px) and (min-height: 600px) {
}
