.sliderList {
  --itemSize: 15em;
  --yTranslate: 15em;
  --idx: 0;
  --smallSize: 1.1;
  --mediumSize: 1.2;
  --bigSize: 1.4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderImage {
  position: relative;
  height: var(--itemSize);
  width: var(--itemSize);
  transform: translateY(calc(var(--yTranslate) * -1 * var(--idx)));
  transition: 0.5s ease-in-out;
  opacity: 0.5;
}

.sliderImage[data-idx="0"] {
  --itemSize: 15em;
  opacity: 1;
}

@media only screen and (min-width: 768px) and (min-height: 600px) {
  .sliderImage {
    --yOffset: 10em;
    --itemSize: 15em;
    --yTranslate: 15em;
  }
  .sliderImage[data-idx="0"] {
    --itemSize: 25em;
  }
}
@media only screen and (min-width: 1080px) and (min-height: 900px) {
  .sliderImage[data-idx="0"] {
    --itemSize: 35em;
  }
}

.sliderControls {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderButton {
  border-radius: 50%;
  margin: 0 1%;
  width: 5em;
  height: 5em;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
}

.sliderButton:hover {
  color: black;
  background-color: yellow;
  transition: 0.5s;
}

.sliderButton > * {
  height: 2em;
  width: 2em;
}

.sliderLeft {
  text-align: justify;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderRight {
  overflow: hidden;
}

.sliderDescription {
  display: none;
}

@media only screen and (min-width: 760px) and (min-height: 350px) {
  .sliderRight,
  .sliderLeft {
    height: 100%;
    flex: 1;
  }
  .sliderDescription {
    display: block;
  }
}

@media only screen and (min-width: 1080px) and (min-height: 600px) {
  .sliderRight,
  .sliderLeft {
    height: 100%;

    flex: 1;
  }
}
