/* Story section */
.story {
  background-image: url(/img/ingredient-bg-blue.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
  height: 100%;
}

.story-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
}

.story-article {
  background-image: linear-gradient(
      to left,
      rgba(10, 11, 11, 0),
      rgba(10, 11, 11, 1)
    ),
    linear-gradient(to left, rgba(10, 11, 11, 0), rgba(10, 11, 11, 1));
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.story-image {
  height: 100vh;
  width: 100%;
  position: relative;
}

.story-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
      to right,
      rgba(10, 11, 11, 0) 0,
      #090a0a 100%
    ),
    linear-gradient(to right, #090a0a00 0, #090a0a 100%);
  height: 100vh;
  width: 100%;
  content: "";
}

.story-description {
  color: #fff;
  font-size: 1.5rem;
  text-align: justify;
  margin-right: 10%;
  margin-top: 5%;
  /* margin: 5% 10%; */
}
